#AWM_logo_header{
    text-align: center;
    margin:0 auto;
    padding:5px 10px;
}
#inspire_header{
    text-align: center !important;
}

.accomplishments{
    font-size:x-small;
}

/*
.team-1-member >img{
    border-radius:80%;
}
 */